
.bg2-light {
    background-color: var(--white) !important;
    color: black;
    padding-left: 6rem;
}

.nav-nav{
    color: black;
}
.black{

    font-size: 40px;
    font-weight: bold;
    width: 2px;
    color: black;
}

.black span{
    color: blue;
}


.para{
    width: 250px;
}
.col1{
     padding-left:3rem;
}

.inp{
    border-radius: 20px;
    border-color:lightgrey ;
    height: 40px;
}

.btn{
    border-radius: 20px;
    background-color: black;
    color: white;
    margin-right: 3rem;
    width: 100px;


}

.input-group > .input-group-append > .btn, .input-group > .input-group-append > .input-group-text, .input-group > .input-group-prepend:not(:first-child) > .btn, .input-group > .input-group-prepend:not(:first-child) > .input-group-text, .input-group > .input-group-prepend:first-child > .btn:not(:first-child), .input-group > .input-group-prepend:first-child > .input-group-text:not(:first-child) {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.input-group:not(.has-validation) > .form-control:not(:last-child), .input-group:not(.has-validation) > .custom-select:not(:last-child), .input-group:not(.has-validation) > .custom-file:not(:last-child) .custom-file-label, .input-group:not(.has-validation) > .custom-file:not(:last-child) .custom-file-label::after {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
}
h3{
    width: 850px;
    padding-left: 400px;
    padding-top: 100px;
    padding-bottom: 50px;
}
.container2{
    background-color: #fdf7f7;


}

.row1{
     align-content: space-around;
     padding-left: 60px;
}

li{
    display: inline;

}
.li1{
    background-color: blue;
    border: 1px ;
    border-radius: 5px;
    color: white;
    width: ;

}
.cont3{
    padding-top: 100px;
}

.colp{
    width: 200px;
    text-align: lefts;
}
.li2{
    padding-top: 50px;
    font-weight: bold;
    width: 20px;

}

.coll{
    border-left: 2px black;

}

.colp {
    width: 200px;
    padding-left: 4rem;
}

.pcont1{
    color: gray;
}

.hcont2 span{
    color: blue;
}