.btnl {
    cursor: pointer;
    border-radius: 20px;s
    color: #fff;
    background-color: #bfc2c5;
    border-color: #a0a3a7;
}
}

.card1  {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    
    border-color:none;
}

.btnc {
    color: #fff;
    background-color: #060606;
    border-color: #0a0a0a;
    width: 160px;
}
 
.span{
    display: block;
    float: right;

}
.fs {
    background-color: white;
    color: black;
    position: absolute;
    right: 0;
    top: 0;
    font-weight: bold;
}
.card-body a{
    padding-right: 20px;
}
