.col1{
	background-color: pink;
	color: white;
	
}

.col2{
	background-color: blue;
	color: whitesmoke;
	
}

.col3{
	background-color: greenyellow;
	color: whitesmoke;
	
}

.col4{
	background-color: red;
	color: whitesmoke;
	
}

.col5{
	background-color: yellow;
	color: whitesmoke;
	
}

.col6{
	background-color: purple;
	color: whitesmoke;
	
}
